<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">No. de Documento</label>
            <h4>{{ detalle_documento.DOCUMENTO }} - {{ detalle_documento.ANIO }}</h4>
        </div>
    </div>  
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Fecha</label>
            <h4>{{ detalle_documento.FECHA }}</h4>
        </div>
    </div>   
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <h4>{{ detalle_documento.PRIMER_NOMBRE }} {{ detalle_documento.SEGUNDO_NOMBRE }} {{ detalle_documento.PRIMER_APELLIDO }} {{ detalle_documento.SEGUNDO_APELLIDO }}</h4>
        </div>
    </div>   
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <h4>{{ detalle_documento.USUARIO }}</h4>
        </div>
    </div>  
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Razón Social</label>
            <h4>{{ detalle_documento.RAZON_SOCIAL }}</h4>
        </div>
    </div>  
    <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Plazo en Horas</label>
            <h4>{{ detalle_documento.PLAZO_HORAS }}</h4>
        </div>
    </div>  
    <!-- <div class="col-lg-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Fecha Límite</label>
            <h4>{{ detalle_documento.FECHA_LIMITE }}</h4>
        </div>
    </div>  -->
</div>